@import url('https://fonts.googleapis.com/css?family=Mali:300i&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
canvas {
  position: absolute;
  background: whitesmoke;
}
img {
  width: 3em;
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  left: 70%;
  z-index: 10;
}
.generate {
  font-family: 'mali';
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  left: 25%;
  z-index: 10;
  padding: 5px 9px;
  border-radius: 20px;
  background: whitesmoke;
  font-size: 20px;
  overflow: hidden;
}
