@import url('https://fonts.googleapis.com/css?family=Mali:300i&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
body {
   background: whitesmoke;
}
canvas {
  position: absolute;
  background: whitesmoke;
}

.generate {
  font-family: 'mali';
  cursor: pointer;
  position: absolute;
  bottom: 15%;
  left: 25%;
  z-index: 1;
  padding: 8px 10px;
  border-radius: 50%;
  color: brown;
  border-color: brown;
  font-size: 20px;
  box-shadow: 0 0 10px black;
}

button {
  transform: scale(2)
}
